.lastedEvents {
    // background-color: red;
    height: 18%;
}

.title {
    // background-color: blue;
}

.eventsList {
    height: 100%;
    // background-color: green;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
}

@media screen and (max-width: 480px) {
    .lastedEvents {
        height: 25%;
        width: 100%;
    }
}