.cardEvents {
    background-color: #fff;
    width: 25%;
    height: 70%;
    border-radius: 0.4vw;
    margin-right: 1vw;

    img {
        border-radius: 0.4vw;
        width: 90%;
        margin-left: 4%;
        margin-top: 4%;
    }

    p {
        font-size: 0.9vw;
        margin-top: 3%;
    }
    
    h1 {
        font-size: 1.8vw;
    }

    p,h1 {
        margin-left: 4%;
    }
}

@media screen and (max-width: 480px) {
    .cardEvents {
        width: 50vw;
    } 
}