.header {
    background-color: #fff;
    height: 4vw;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .header__logo {
        font-size: 2vw;
    }

    .header__nav a {
        margin-right: 4em;
        font-size: 1.2vw;
    }

    .header__nav a:last-child {
        margin-right: 0;
    }

    .header__searchAndprofile {
        display: flex;

        input,a,p {
            margin-right: 2vw;
        }

        input {
            width: 10vw;
            border-radius: 1vw;
            border: 0.5px solid #2C3E50;
            padding: 0.4vw 0.8vw;
        }

        a,p {
            border-radius: 1vw;
            border: 0.5px solid #2C3E50;
            padding: 0.2vw 0.7vw;
        }

        input,a,p {
            font-size: 1vw;
            height: 3vw;
        }

        .profile {
            width: 2.5vw;
            height: 2.5vw;
            background-color: gray;
            border-radius: 1vw;
        }
    }

}

@media screen and (max-width: 480px) {
    .header {
        height: 20vw;

        .header__nav a {
            margin-right: 1em;
            font-size: 4vw;
        }

        .header__logo,input {
            display: none;
        }

        .profile {
            width: 10vw;
            height: 10vw;
        }
    }
}